.hero-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
  }
  
  .hero-banner__title {
    color: hsl(var(--foreground));
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }
  
  .hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }
  
  .hero-banner__image {
    border-radius: 20px;
    position: fixed;
    transform: rotate(-15deg);
    width: 550px;
  }
  
  .content {
    background-color: hsl(var(--background));
    font-size: 40px;
    /* padding: 120px 80px; */
    height: 100vh;
    color: black;
  }
  